@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    line-height: 1,8;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(170deg, rgba(229,188,249,0.5889706224286589) 39%, rgba(212,181,181,0.4181022750897234) 57%, rgba(229,188,249,1) 93%);
    height: 100%;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}

.strengths {
    font-weight: 600;
}

.goal{
    font-weight: 600;
    margin: 0;
}

ul{
    list-style: none;
}

.main-container{
    display: flex;
    justify-content: center;
    height: 100hv;
}



.my-photo{
    height: 260px;
    width: 250px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

.logo {
    max-width: 80vh;
    height: 50px;
    padding: 5px 10px;
    position: relative;
    bottom: -100px;
    border: 0px solid #03aabd;
    box-shadow: 5px 5px 30px black;
    
}

.phone-icon{
    width: 30px;
}

.email-icon{
    width: 30px;
    margin: 0;
   
}

.location-icon{
    width: 40px;
    margin: 0;
}

.languages-icon{
    width: 30px;
    margin-left: 5px;
}

.location-item{
    margin-left: 1px;
    color: #03aabd;
    font-weight: 600;
    border-radius: 5px;
    font-size: 24px;
}

.languages-item{
    margin-left: 5px;
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.phone:hover{
    box-shadow: 1px 1px 20px #03aabd;
}


.mail:hover{
    box-shadow: 1px 1px 20px #03aabd;
}

strong {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 42px;
    color: #03aabd;
}

.about-me-container{
    max-width: 600px;
    height: 100px;
    position: relative;
    top: 0;
    left: 100px;
    margin-left: -10px;
    padding-right: 10px;
}

.contacts{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    margin-left: 40px;
    
}

.contacts-item{
    margin-left: 5px;
    
}

.phone {
    margin-left: 5px;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    padding-top: 0;
}

.tel-item{
    color: #03aabd;
    font-weight: 600;
    font-size: 24px;
}

.mail {
    margin-left: 5px;
    color: black;
    font-weight: 600;
    border-radius: 5px;
}

.email-item{
    color: #03aabd;
    font-weight: 600;
    font-size: 24px;
}

.my-strengths{
    margin: 5px 0;
}

.my-goal {
    margin: 0;
    max-width: 600px;
}

h3{
    margin: 5px 0px;
}

p{
    font-weight: 400;
    margin: 5px 0;
}

.name-company{
    font-weight: 600;
    color: rgb(20, 41, 41);
    font-size: 18px;
}

.github-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-item{
    position: relative;
    bottom: -100px;
    margin: 5px 10px;
}

footer{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.footer-text{
    font-size: 20px;
    font-weight: 700;
    position: relative;
    bottom: -140px;
    right: 120px;
    margin: 0;
    color: darkgreen;
}

code {
    color: crimson;
    background: #98979759;
    padding: 2px 1px 0 0;
    font-size: 24px;
    margin: 0;
  }